adal==0.4.5
agate==1.6.0
agate-dbf==0.2.0
agate-excel==0.2.1
agate-sql==0.5.2
alabaster==0.7.10
alembic==0.9.8
amqp==1.4.9
aniso8601==3.0.0
antiorm==1.2.1
anyjson==0.3.3
appdirs==1.4.3
apturl==0.5.2
argh==0.26.2
argon2-cffi==16.3.0
arrow==0.10.0
asn1crypto==0.22.0
astroid==1.5.3
attrs==17.2.0
Automat==0.6.0
awesome-slugify==1.6.5
azure==2.0.0
azure-batch==3.0.0
azure-common==1.1.6
azure-datalake-store==0.0.12
azure-graphrbac==0.30.0
azure-keyvault==0.3.4
azure-mgmt==1.0.0
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==4.0.0
azure-mgmt-cdn==0.30.3
azure-mgmt-cognitiveservices==1.0.0
azure-mgmt-compute==1.0.0
azure-mgmt-containerregistry==0.2.1
azure-mgmt-datalake-analytics==0.1.6
azure-mgmt-datalake-nspkg==2.0.0
azure-mgmt-datalake-store==0.1.6
azure-mgmt-devtestlabs==2.0.0
azure-mgmt-dns==1.0.1
azure-mgmt-documentdb==0.1.3
azure-mgmt-iothub==0.2.2
azure-mgmt-keyvault==0.31.0
azure-mgmt-logic==2.1.0
azure-mgmt-monitor==0.2.1
azure-mgmt-network==1.0.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-rdbms==0.1.0
azure-mgmt-redis==4.1.0
azure-mgmt-resource==1.1.0
azure-mgmt-scheduler==1.1.2
azure-mgmt-sql==0.5.3
azure-mgmt-storage==1.0.0
azure-mgmt-trafficmanager==0.30.0
azure-mgmt-web==0.32.0
azure-nspkg==2.0.0
azure-servicebus==0.21.1
azure-servicefabric==5.6.130
azure-servicemanagement-legacy==0.20.6
azure-storage==0.34.3
Babel==2.5.3
backports.weakref==1.0rc1
bcrypt==3.1.4
beautifulsoup4==4.6.0
billiard==3.3.0.23
binaryornot==0.4.4
bkcharts==0.2
blaze==0.10.1
bleach==1.5.0
blinker==1.4
bokeh==0.12.6
boto==2.47.0
boto3==1.4.5
botocore==1.5.70
braintree==3.38.0
Brlapi==0.6.6
bs4==0.0.1
buildozer==0.34
bz2file==0.98
capstone==3.0.4
catfish==1.4.4
celery==3.1.18
Cerberus==0.9.2
certifi==2017.4.17
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cloudpickle==0.3.1
Collectfast==0.5.2
colorama==0.3.9
command-not-found==0.3
configobj==5.0.6
configparser==3.5.0
constantly==15.1.0
contextlib2==0.5.5
cookiecutter==1.6.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.2
cryptography==1.9
cssselect==1.0.1
cssutils==0.9.10
csvkit==1.0.2
cupshelpers==1.0
cx-Oracle==6.1
cycler==0.10.0
cymem==1.31.2
Cython==0.25.2
cytoolz==0.8.2
dask==0.15.0
datashape==0.5.2
db==0.1.1
dbfread==2.0.7
decorator==4.0.11
defer==1.0.6
defusedxml==0.5.0
dill==0.2.6
distro-info==0.18
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.7
django-admin-sortable2==0.6.13
django-allauth==0.32.0
django-angular==0.8.4
django-anymail==1.2
django-appconf==1.0.2
django-autoslug==1.9.3
django-axes==4.0.2
django-celery==3.2.2
django-classy-tags==0.8.0
django-cms==3.4.4
django-compressor==2.1.1
django-cors-headers==2.1.0
django-coverage-plugin==1.5.0
django-crispy-forms==1.7.0
django-debug-toolbar==1.9.1
django-debug-toolbar-template-timings==0.7
django-disqus==0.5
django-environ==0.4.4
django-extensions==1.9.7
django-extra-views==0.6.4
django-filter==1.0.4
django-formtools==2.0
django-fsm==2.6.0
django-fsm-admin==1.2.4
django-haystack==2.6.1
django-ipware==1.1.6
django-jsonfield==0.9.13
django-localflavor==1.5.2
django-model-utils==3.0.0
django-mptt==0.8.7
django-nose==1.4.5
django-oscar==1.5
django-oscar-api==1.2.0
django-parler==1.8
django-phonenumber-field==1.3.0
django-picklefield==0.3.2
django-pipeline==1.6.13
django-polymorphic==1.2
django-post-office==3.0.0
django-redis-cache==1.7.1
django-redis-sessions==0.5.6
django-registration-redux==1.8
django-rest==0.0.1
django-rest-auth==0.9.1
django-sass-processor==0.5.4
django-sekizai==0.10.0
Django-Select2==5.10.0
django-storages==1.6.5
django-sudo==2.1.0
django-tables2==1.15.0
django-tagging==0.4.6
django-taggit==0.22.1
django-templatetag-sugar==1.0
django-test-plus==1.0.20
django-treebeard==4.1.2
django-widget-tweaks==1.4.1
djangocms-admin-style==1.2.7
djangocms-bootstrap3==0.2.1
djangocms-cascade==0.13.0
djangocms-text-ckeditor==3.5.0
djangorestframework==3.7.3
djangoshop-stripe==0.3.1
dnslib==0.9.7
dnspython==1.15.0
docutils==0.13.1
dominate==2.3.1
drf-haystack==1.6.1
easy-thumbnails==2.4.1
ecdsa==0.13
elasticsearch==5.4.0
email-reply-parser==0.2.0
entrypoints==0.2.3
enum-compat==0.0.2
enum34==1.1.6
et-xmlfile==1.0.1
Eve==0.7.8
eventlet==0.21.0
Events==0.2.2
exam==0.10.6
extruct==0.4.0
Fabric==1.13.2
factory-boy==2.9.2
Faker==0.8.7
feedparser==5.2.1
Fiona==1.7.8
first==2.0.1
flake8==3.3.0
Flask==0.12.2
Flask-Admin==1.5.1
Flask-Assets==0.12
Flask-Auth==0.85
Flask-Babel==0.11.2
Flask-BabelEx==0.9.3
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Cache==0.13.1
Flask-Cors==3.0.2
flask-heroku==0.1.9
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Moment==0.6.0
Flask-OAuth==0.12
flask-peewee==3.0.0
Flask-Principal==0.4.0
Flask-PyMongo==0.5.1
Flask-Redis==0.3.0
Flask-RESTful==0.3.6
Flask-Restless==0.17.0
Flask-S3==0.3.3
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-Session==0.3.1
Flask-Sijax==0.4.1
Flask-Social==1.6.2
Flask-SocketIO==2.9.2
Flask-SQLAlchemy==2.3.2
Flask-SuperAdmin==1.7.1
Flask-Triangle==0.5.4
Flask-WTF==0.14.2
ftfy==4.4.3
fuel==0.2.0
future==0.16.0
futures==3.1.1
gensim==2.2.0
gevent==1.2.2
gevent-websocket==0.10.1
gitdb2==2.0.3
GitPython==2.1.8
greenlet==0.4.12
gunicorn==19.7.1
h5py==2.7.0
Halocoin==0.1.0.3
hiredis==0.1.6
honcho==0.7.1
html5lib==0.9999999
httplib2==0.9.2
hurry.resource==0.10
hyperlink==17.2.1
hypothesis==3.11.6
idna==2.5
imagesize==0.7.1
incremental==17.5.0
inflection==0.3.1
ipaddress==1.0.18
ipdb==0.10.3
IPy==0.83
ipykernel==4.6.1
ipyparallel==6.0.2
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isodate==0.5.4
isort==4.2.15
itsdangerous==0.24
itypes==1.1.0
jdcal==1.3
jedi==0.10.2
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
json-rpc==1.10.8
jsonfield==2.0.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.5
keyring==10.3.3
keyrings.alt==3.0
Kivy==1.9.1
Kivy-Garden==0.1.4
kombu==3.0.35
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.3.1
leather==0.3.3
libsass==0.13.2
llvmlite==0.18.0
loremipsum==1.0.5
louis==3.5.0
lxml==4.2.1
m3-cdecimal==2.3
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==2.6.8
MarkupSafe==0.23
martian==0.15
matplotlib==2.0.2
mccabe==0.6.1
milksnake==0.1.1
mimerender==0.6.0
mistune==0.7.4
mitmflib==0.18.4
mmh3==2.3.1
mock==1.0.1
more-itertools==3.2.0
mpmath==0.19
msgpack-python==0.5.6
msrest==0.4.11
msrestazure==0.4.9
multipledispatch==0.4.9
munch==2.1.1
murmurhash==0.26.4
nbconvert==5.2.1
nbformat==4.3.0
neon==0.1.2
netaddr==0.7.19
NetfilterQueue==0.8.1
networkx==1.11
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
notify2==0.3
numba==0.33.0
numexpr==2.6.2
numpy==1.13.0
numpydoc==0.7.0
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==2.0.6
odo==0.5.0
olefile==0.44
onboard==1.4.1
opbeat==3.5.3
opencv==1.0.1
openpyxl==2.4.8
packaging==16.8
pandas==0.20.2
pandas-datareader==0.5.0
pandocfilters==1.4.1
paramiko==2.2.1
parse==1.6.5
parsedatetime==2.4
parsel==1.2.0
passlib==1.7.1
pathlib==1.0.1
pathtools==0.1.2
paypalrestsdk==1.13.1
pbr==3.1.1
peewee==3.1.5
pefile==2017.11.5
pep8==1.7.0
percy==1.0.8
petname==2.0
pew==0.1.26
pexpect==4.2.1
phonenumberslite==8.8.6
picklable-itertools==0.1.1
pickleshare==0.7.4
Pillow==4.2.1
pip-review==0.5.3
pip-tools==1.9.0
pipenv==7.0.0
plac==0.9.6
pluggy==0.4.0
plyer==1.3.0
poyo==0.4.1
preshed==1.0.0
progressbar2==3.10.1
prompt-toolkit==1.0.14
protobuf==3.3.0
psutil==5.2.2
psycopg2==2.6.2
purl==1.3.1
py==1.4.34
pyasn1==0.4.2
pyasn1-modules==0.0.9
pycairo==1.16.2
pycodestyle==2.3.1
pycountry==17.9.23
pycparser==2.18
pycrypto==2.6.1
pycups==1.9.73
PyDispatcher==2.0.5
pyface==5.1.0
pyflakes==1.5.0
pygame==1.9.3
pygeoip==0.3.2
Pygments==2.2.0
pygobject==3.26.1
pyinotify==0.9.6
pyjnius==1.1.1
PyJWT==1.6.1
pylint==1.7.1
pymacaroons==0.13.0
pymongo==3.4.0
PyNaCl==1.1.2
PyOpenGL==3.1.0
pyOpenSSL==17.0.0
pyparser==1.0
pyparsing==2.2.0
pypcap==1.2.0
pyRFC3339==1.0
pytest==3.1.3
pytest-django==2.9.1
pytest-html==1.9.0
pytest-sugar==0.9.0
python-apt==1.6.0rc2+ubuntu1
python-dateutil==2.6.0
python-debian==0.1.32
python-decouple==3.1
python-editor==1.0.3
python-engineio==1.7.0
python-for-android==0.6.0
python-magic==0.4.15
python-memcached==1.58
python-mimeparse==1.6.0
python-openid==2.2.5
python-slugify==1.2.4
python-social-auth==0.3.6
python-socketio==1.8.1
python-twitter==3.3
python-u2flib-server==4.0.1
python-utils==2.1.0
python3-linkedin==1.0.2
python3-openid==3.1.0
pythonz-bd==1.11.4
pytimeparse==1.1.6
pytz==2018.3
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.11
pyzmq==16.0.2
qrcode==5.3
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
Quandl==3.2.0
queuelib==1.4.2
raven==6.3.0
rb==1.7
rcssmin==1.0.6
rdflib==4.2.2
rdflib-jsonld==0.4.0
redis==2.10.5
redis-py-cluster==1.3.4
regex==2017.4.5
reportlab==3.4.0
requests==2.17.3
requests-file==1.4.2
requests-ftp==0.3.1
requests-oauthlib==0.8.0
requests-unixsocket==0.1.5
resumable-urlretrieve==0.1.5
rjsmin==1.0.12
rope-py3k==0.9.4.post1
s3transfer==0.1.11
scapy==2.4.0
scapy-python3==0.23
scikit-image==0.13.0
scikit-learn==0.18.2
scikit-rf==0.14.5
scipy==0.19.0
Scrapy==1.5.0
scrapy-sentry==0.8.0
seaborn==0.7.1
SecretStorage==2.3.1
selenium==3.4.3
semver==2.7.7
sentry==8.22.0
serf==0.3.1
service-identity==17.0.0
setproctitle==1.1.10
sh==1.12.4
Sijax==0.3.2
simplegeneric==0.8.1
simplejson==3.8.2
simplekv==0.11.5
sip==4.19.2
six==1.11.0
smart-getenv==1.1.0
smart-open==1.5.3
smmap2==2.0.3
snowballstemmer==1.2.1
social-auth-core==1.7.0
sorl-thumbnail==12.4.1
South==1.0.2
spacy==1.8.2
speaklater==1.3
Sphinx==1.6.2
sphinxcontrib-websupport==1.0.1
spyder==3.1.4
SQLAlchemy==1.2.5
sqlparse==0.2.4
ssh==1.8.0
ssh-import-id==5.7
static3==0.7.0
statsd==3.1
stevedore==1.28.0
stripe==1.53.0
structlog==16.1.0
sub==0.0.9
symbolic==1.1.4
sympy==1.0
system-service==0.3
systemd-python==234
tables==3.4.2
tabulate==0.8.2
tensorflow==1.2.1
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
text-unidecode==1.1
Theano==0.9.0
thinc==6.5.2
toolz==0.8.2
tornado==4.5.1
toronado==0.0.11
tqdm==4.14.0
traitlets==4.3.2
traits==4.6.0
Twisted==17.5.0
typing==3.6.2
ua-parser==0.7.3
ubuntu-drivers-common==0.0.0
ufw==0.35
ujson==1.35
unattended-upgrades==0.1
Unidecode==0.4.20
Unipath==1.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
uritemplate==3.0.0
urllib3==1.21.1
usb-creator==0.3.3
user-agents==1.1.0
uWSGI==2.0.15
vboxapi==1.0
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
visitor==0.1.3
w3lib==1.17.0
wadllib==1.3.2
watchdog==0.8.3
wcwidth==0.1.7
webassets==0.12.1
webencodings==0.5.1
WebOb==1.7.2
websocket==0.2.1
Werkzeug==0.14.1
whichcraft==0.4.1
whitenoise==3.3.1
Whoosh==2.7.4
WhooshAlchemy==0.3.1
widgetsnbextension==2.0.0
wrapt==1.10.10
wtf-peewee==3.0.0
WTForms==2.1
xdiagnose==3.8.8
xkit==0.0.0
xlrd==1.0.0
yolk==0.4.3
zope.interface==4.4.2
